:root {
    /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-mobile: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-tablet: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-desktop: 1024px;

  /* spacing */
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 1.5rem;

  /* fonts */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* colors */
  --econutri-fg: #22C55E;

  --primary-fg: black;
  --primary-bg: #fff;
}

html {
    font-family: 'Roboto-BoldItalic', Helvetica;
    margin: 0;
}

button {
    cursor: pointer;
}