.layout {
  max-width: var(--breakpoint-mobile);
  min-height: 100dvh;
  margin-left: auto;
  margin-right: auto;
}

.mainContent {
  position: relative;
  padding-bottom: 80px;
  min-height: calc(100dvh - 60px);
  z-index: 1;
}