.header {
  position: sticky;
  top: 0;
  left: 50%;
  max-width: var(--breakpoint-xs);
  width: 100%;
  padding: var(--space-xs);
  justify-content: center;
  font-size: var(--font-lg);
  background: var(--primary-bg);
  z-index: 100;
}